{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row p-3" id="bg">
<div class="p-3 col-md-12">
<h1 class="text-center">ABOUT US</h1>
<h3>Online Bookstore for Poetry Books</h3>
<p>This is an online bookstore specifically designed to serve the needs of poetry book enthusiasts. It aims to fill the gap in the market by offering a wide selection of poetry books from various categories and authors. The platform will provide a user-friendly interface where customers can easily browse, and purchase their favourite poetry books. Additionally, the online bookstore will prioritize customer satisfaction by ensuring efficient delivery, and excellent customer support. Overall, the proposed system aims to create a dedicated platform for poetry book lovers, providing them with a convenient and enriching online shopping experience.</p>

<p>Purchase the books you need just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.</p>
<p>This website is available 24/7 to serve the needs of customers.</p>
<p>Provide reliable customer support, including assistance with order inquiries, and general inquiries related to the bookstore and its offerings.</p>

</div>
</div>


{% endblock %}