{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row p-5" id="bg">
<div class="p-5 col-md-12">
<h1 class="p-5 text-center">SECURE PAYMENT</h1>
<p class="p-3">When it comes to purchasing something, anything online, the security question towers above everything else. We do not take our store’s overall cyber security and particularly the billing process security lightly. We can assure you that all of your shopping here will be a fun and safe experience, enhanced by the all of the factors listed below.</p>
<h4 class="p-5" id="in"><i class="fa fa-check-circle"></i>
SSL CERTIFICATE</h4>
<p class="p-3">If the website has an SSL certificate, this means that the owners care about your shopping experience being secure, safe and sound and want to make sure that all the data (including financial) that you enter on our website will be securely encrypted!</p>
<h4 class="p-5" id="in"><i class="fa fa-check-circle"></i>
MULTIPLE GATEWAYS</h4>
<p class="p-3">When we were considering which payment gateways to use on our website, the choice narrowed down to 5 most universal ones: Visa; MasterCard; PayPal; Phone Pay; Net Banking .</p>
<h4 class="p-5" id="in"><i class="fa fa-check-circle"></i>
24/7 CUSTOMER SUPPORT</h4>
<p class="p-3">Also, it is comforting to know that should you experience any kind of technical bump in the road during the checkout process, you can always address our customer support department with your billing questions!</p>
</div>
<div class="col-md-5 icon-right-side p-5" id="in">
<i class="fa fa-cc-visa"></i>
<i class="fa fa-cc-mastercard"></i>
<i class="fa fa-cc-discover"></i>
<i class="fa fa-cc-paypal"></i>
<i class="fa fa-cc-amex"></i>
</div>
</div>


{% endblock %}