{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row p-3" id="bg">
<div class="p-5 col-md-12">
<h1 class="p-5 text-center">SHIPPING & DELIVERY</h1>
<p class="p-3">The calculator below will give you the average amount of days it takes to ship a product to your door and the best time to contact our support team.</p>
<h2 class="p-5">HERE ARE A FEW THINGS TO CONSIDER WHILE YOU WAIT FOR YOUR ORDER:</h2>
<ul>
<li class="p-3">We ship in business days. Monday - Friday, excluding national holidays.</li>
<li class="p-3">Shipping starts from the date you received the “Your Order Has Shipped!” email.</li>
<li class="p-3">The estimate above does not include manufacturing time - we need 1-3 business days to make sure your custom order is everything you hoped it would be.</li>
</ul>

<h2 class="p-5" id="in"><i class="fa fa-truck"></i>HOW MUCH IS SHIPPING CHARGE?</h2>
<p class="p-3">Once you’ve clicked through to Secure Checkout, you can enter your delivery address and choose a shipping method. Shipping costs are then calculated and tacked on to your subtotal at the bottom of the page.</p>

<h2 class="p-5" id="in"><i class="fa fa-search"></i>CAN I TRACK MY ORDER</h2>
<p class="p-3">We rely on a global network of shipping partners (UPS, FedEx, DHL) as well as local postal services (USPS) to get your order to your doorstep as soon as possible. For this reason, tracking is not always available. If your order is being sent by a trackable service, these details will be included on your orders page as well as on the shipping email we send you.</p>

</div>
</div>


{% endblock %}